        <p-dialog [(visible)]="editOperateurDialog" [style]="{width: '70vw'}"
                header="Operateur" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Operateur">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Description<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Description"
                                                   id="1" [(ngModel)]="selectedOperateur.description"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validOperateurDescription}"  />
                                            <small class='p-error' *ngIf='!validOperateurDescription'>Description est obligatoire.</small>
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="2">Credentials non expired</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="2"  [(ngModel)]="selectedOperateur.credentialsNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="3">Enabled</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedOperateur.enabled"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="4">Account non expired</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="4"  [(ngModel)]="selectedOperateur.accountNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="5">Account non locked</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="selectedOperateur.accountNonLocked"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="6">Password changed</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedOperateur.passwordChanged"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Created at</label>
                                            <p-calendar id="7"   [showTime]="true" [showSeconds]="false"
                                                        placeholder="Created at"  [(ngModel)]="selectedOperateur.createdAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Updated at</label>
                                            <p-calendar id="8"   [showTime]="true" [showSeconds]="false"
                                                        placeholder="Updated at"  [(ngModel)]="selectedOperateur.updatedAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="9" [(ngModel)]="selectedOperateur.username"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Password</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Password"
                                                   id="10" [(ngModel)]="selectedOperateur.password"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="11" [(ngModel)]="selectedOperateur.prenom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="12" [(ngModel)]="selectedOperateur.nom"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
