
<p-dialog [(visible)]="viewBlackListChauffeurDialog" [style]="{width: '70vw'}"
        header="" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Chauffeur</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Chauffeur"  [(ngModel)]="selectedBlackListChauffeur.chauffeur"
                                           id="1" [(ngModel)]="selectedBlackListChauffeur.chauffeur"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Client</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Client"  [(ngModel)]="selectedBlackListChauffeur.client"
                                           id="2" [(ngModel)]="selectedBlackListChauffeur.client"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Date black list</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="3" [disabled]="true"
                                                   placeholder="Date black list"  [(ngModel)]="selectedBlackListChauffeur.dateBlackList"
                                            [(ngModel)]="selectedBlackListChauffeur.dateBlackList"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Commentaire</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Commentaire"  [(ngModel)]="selectedBlackListChauffeur.commentaire"
                                           id="4" [(ngModel)]="selectedBlackListChauffeur.commentaire"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



