<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateBlackListClient('blackListClient')"></button>


                    <button pButton pRipple label="Chercher"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchBlackListClient.chauffeur">
                                    <label for="1">Chauffeur</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchBlackListClient.client">
                                    <label for="2">Client</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="4"
                                           type="text"  [(ngModel)]="searchBlackListClient.commentaire">
                                    <label for="4">Commentaire</label>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="blackListClients" [columns]="cols" [rows]="8" [paginator]="true"
                    [globalFilterFields]="['chauffeur', 'client', 'dateBlackList', 'commentaire']" [(selection)]="selectedBlackListClient"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Les éléments de {first} à {last} sur {total records} "
                    [showCurrentPageReport]="true"   [rowsPerPageOptions]="[8,25,50]">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des black list clients</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Chercher..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="chauffeur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Chauffeur</span>
                                        <p-sortIcon field="chauffeur"></p-sortIcon>
                                        <p-columnFilter type="text" field="blackListClient.chauffeur" display="menu" class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="client">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Client</span>
                                        <p-sortIcon field="client"></p-sortIcon>
                                        <p-columnFilter type="text" field="blackListClient.client" display="menu" class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateBlackList">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date black list</span>
                                        <p-sortIcon field="dateBlackList"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="commentaire">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Commentaire</span>
                                        <p-sortIcon field="commentaire"></p-sortIcon>
                                        <p-columnFilter type="text" field="blackListClient.commentaire" display="menu" class="ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-blackListClient>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="blackListClient"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{blackListClient.chauffeur}}</td>
                            

                            
                                 <td>{{blackListClient.client}}</td>
                            

                            
                                 <td>{{blackListClient.dateBlackList}}</td>
                            

                            
                                 <td>{{blackListClient.commentaire}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editBlackListClient(blackListClient)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewBlackListClient(blackListClient)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteBlackListClient(blackListClient)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateBlackListClient(blackListClient)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{blackListClients ? blackListClients.length == 1 ? 'y a' : 'y a' : 'y a' }} {{blackListClients ? blackListClients.length : 0 }} {{blackListClients ? blackListClients.length == 1 ? 'black list client' : 'black list clients' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-black-list-client-create-admin></app-black-list-client-create-admin>
        <app-black-list-client-edit-admin></app-black-list-client-edit-admin>
        <app-black-list-client-view-admin></app-black-list-client-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
