        <p-dialog [(visible)]="createChauffeurDialog" [style]="{width: '70vw'}"
                header="Chauffeur" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Chauffeur">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Matricule</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Matricule"
                                                   id="1" [(ngModel)]="selectedChauffeur.matricule"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Mobile</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Mobile"
                                                   id="2" [(ngModel)]="selectedChauffeur.mobile"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="3">Moyen transport</label>
                                            <p-dropdown [options]="moyenTransports" [(ngModel)]="selectedChauffeur.moyenTransportVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Moyen transport"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateMoyenTransport('moyenTransport')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="4">Model application</label>
                                            <p-dropdown [options]="modelApplications" [(ngModel)]="selectedChauffeur.modelApplicationVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Model application"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateModelApplication('modelApplication')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="5">Marque telephone</label>
                                            <p-dropdown [options]="marqueTelephones" [(ngModel)]="selectedChauffeur.marqueTelephoneVo"
                                                    id="5" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Marque telephone"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateMarqueTelephone('marqueTelephone')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="6">Marque voiture</label>
                                            <p-dropdown [options]="marqueVoitures" [(ngModel)]="selectedChauffeur.marqueVoitureVo"
                                                    id="6" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Marque voiture"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateMarqueVoiture('marqueVoiture')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="7">Etat chauffeur</label>
                                            <p-dropdown [options]="etatChauffeurs" [(ngModel)]="selectedChauffeur.etatChauffeurVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat chauffeur"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateEtatChauffeur('etatChauffeur')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="8">Ville</label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedChauffeur.villeVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Ville"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateVille('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Code postale</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code postale"
                                                   id="9" [(ngModel)]="selectedChauffeur.codePostale"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Nombre place</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="10"
                                                           placeholder="Nombre place"
                                                    [(ngModel)]="selectedChauffeur.nombrePlace"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Image voiture</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Image voiture"
                                                   id="11" [(ngModel)]="selectedChauffeur.imageVoiture"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Order affichage</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="12"
                                                           placeholder="Order affichage"
                                                    [(ngModel)]="selectedChauffeur.orderAffichage"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">Altitude actuelle</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="13"
                                                           placeholder="Altitude actuelle"
                                                    [(ngModel)]="selectedChauffeur.altitudeActuelle"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="14">Longitude actuelle</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="14"
                                                           placeholder="Longitude actuelle"
                                                    [(ngModel)]="selectedChauffeur.longitudeActuelle"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="15">Langue</label>
                                            <p-dropdown [options]="langues" [(ngModel)]="selectedChauffeur.langueVo"
                                                    id="15" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Langue"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateLangue('langue')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="16">Theme</label>
                                            <p-dropdown [options]="themes" [(ngModel)]="selectedChauffeur.themeVo"
                                                    id="16" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Theme"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateTheme('theme')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="17">Credentials non expired</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="17"  [(ngModel)]="selectedChauffeur.credentialsNonExpired"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="18">Enabled</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="18"  [(ngModel)]="selectedChauffeur.enabled"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="19">Account non expired</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="19"  [(ngModel)]="selectedChauffeur.accountNonExpired"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="20">Account non locked</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="20"  [(ngModel)]="selectedChauffeur.accountNonLocked"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="21">Password changed</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="21"  [(ngModel)]="selectedChauffeur.passwordChanged"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="22">Created at</label>
                                            <p-calendar id="22"  [showTime]="true" [showSeconds]="false"
                                                        placeholder="Created at"  [(ngModel)]="selectedChauffeur.createdAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="23">Updated at</label>
                                            <p-calendar id="23"  [showTime]="true" [showSeconds]="false"
                                                        placeholder="Updated at"  [(ngModel)]="selectedChauffeur.updatedAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="24">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="24" [(ngModel)]="selectedChauffeur.username"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="25">Password</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Password"
                                                   id="25" [(ngModel)]="selectedChauffeur.password"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="26">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="26" [(ngModel)]="selectedChauffeur.prenom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="27">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="27" [(ngModel)]="selectedChauffeur.nom"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-moyen-transport-create-client></app-moyen-transport-create-client>
                    <app-model-application-create-client></app-model-application-create-client>
                    <app-marque-telephone-create-client></app-marque-telephone-create-client>
                    <app-marque-voiture-create-client></app-marque-voiture-create-client>
                    <app-etat-chauffeur-create-client></app-etat-chauffeur-create-client>
                    <app-ville-create-client></app-ville-create-client>
                    <app-langue-create-client></app-langue-create-client>
                    <app-theme-create-client></app-theme-create-client>


    </p-dialog>
